new_domain_datastore
model_ckpt/wav2vec_small.pt
model_ckpt/ramp_ckpt
model_ckpt/ramp_ckpt_vc
model_ckpt/musiceval_ckpt/best_ckpt_28
datastore_profile/od_emb_array.pkl
datastore_profile/od_label_array.pkl
datastore_profile/od_sys_array.pkl
test_answer.txt
datastore_profile_vc
test_answer_vc.txt
__pycache__/
*.pyc
output/
*.pt
*.pth
pretrained_models/
CosyVoice/
TTS/
seed-vc
wavs
meta_*.csv
/InputData_new
/check.py
/gt*.csv
/output_old
split_gt.py
to_label.py
InputData/ttm/wavs/
InputData/ttm/audio_embed/
InputData/ttm/text_embed/
InputData/ttm/prompt_info.txt
