bypy==1.8.9
espnet==202412
fairseq==0.12.2
faiss-gpu==1.7.2
fire==0.7.0
funasr==1.2.6
jiwer==3.1.0
lazy_loader==0.4
matplotlib==3.9.4
msgpack==1.1.1
pandas==2.3.0
pip==24.0
pipreqs==0.5.0
s3prl==0.4.18
soxr==0.5.0.post1
tinycss2==1.4.0
torch==2.7.1
torchvision==0.22.1
wheel==0.45.1
zhconv==1.4.3
zhon==2.1.1
